body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    
}


.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
    position: relative;
    display: flex;
}


.site-navigation {
    list-style: none;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.site-navigation li {
    width: 240px;
    box-sizing: border-box;
    text-align: center;
}

.site-navigation li:nth-child(1) {
    padding-left: 72px;
    text-align: left;
}

.site-navigation li:nth-child(2) {
    margin-right: 240px;
}

.site-navigation li:nth-child(4) {
    padding-right: 72px;
    text-align: right;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #e5e5e5;
}

.site-navigation .active-now {
    color: #766357;
}
.main-logo {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

    width: 140px;
    height: 70px;
}



.welcome {
    height: 564px;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}

.welcome img {
    margin-top: 75px;
}

.short-description {
    margin: 0 auto;
    width: 445px;
    background-color: #ffffff;
    text-align: center;
}

.short-description h2 {
    font-size: 21px;
    line-height: 26px;
}

.short-description p {
    font-weight: 400;
}

.true-city, 
.devil-bridge {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    line-height: 21px;
    font-size: 21px;
    vertical-align: middle;

    
    display: flex; 
}

.true-city span,
.true-city p,
.devil-bridge span,
.devil-bridge p {
    font-weight: 400;
    font-size: 14px;
}

.description {
    width: 400px;
    padding: 50px 60px;
}

.city-picture,
.bridge-picture {
    width: 800px;
}

.first-group,
.second-group {
    color:#000000;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;

    
    display: flex;
}

.second-group {
    background-color: #eeeeee;
}

.city-advantage h2,
.area-advantage h2 {
    font-size: 21px;
    line-height: 21px;
}

.city-advantage p,
.area-advantage p,
.area-advantage span {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.city-advantage {
    width: 400px;
    padding: 60px 70px;
}

.area-advantage {
    width: 400px;
    padding: 50px 90px;
}

.interest {
    color:#000000;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 35px;
}

.interest h2 {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
}

.interest p {
    margin-top: 40px;
    margin-bottom: 55px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.interest a /**/ { 
    padding: 35px 140px;
    margin-top: 55px;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    background-color: #766357;
}

.interest a:hover,
.interest a:focus { 
    background-color: #604e43;
}

.interest a:active { 
    background-color: #503e33;
    color: #857871;
}

.search {
    background-color: #ffffff;
    width: 570px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
}

.map {
    background-image: url("../img/map.jpg");
    
    height: 473px;
    margin: 0 auto;
}

.form-item input {
    font: inherit;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
}

.form-item input:hover {
    background-color: #ebebeb;
}

.form-item input:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid #e5e5e5;
}

.button-find {
    font: inherit;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border:none;
    font-size: 21px;
    line-height: 26px;
}

.button-find:hover,
.button-find:focus {
    color: #dfe9f0;
    background-color: #669ec0;
}

.button-find:active {
    color: #88b6d1;
    background-color: #5496bd;
}


.main-footer {
    background-color: #ffffff;
    display: flex;
    padding: 33px 0;
    opacity: 0.9;
}

.main-footer div {
    width: 400px;
    text-align: center;
}


.social-list {
    list-style: none;
}

.social-list a {
    color: #ffffff;
    background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
    color: #ffffff;
    background-color: #669ec0;
}

.social-list a:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.creators a {
    color: #000000;
}

.creators a:hover,
.creators a:focus {
    color: #81b3d2;
}

.creators a:active {
    color: #bdbbbc;
}

/*Дальше стили для каталога*/

.filters {
    display: flex;
    background-color: #4e81a3;
    background-image: url("../img/filter-background.jpg");
    color: #ffffff;
    
}

.filter {
    display: flex;
}

.filter fieldset {
    margin-top: 25px;
    margin-left: 70px;
    border: none;
}

.filter fieldset:last-child {
    margin-right: 330px;
}

.filter legend {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 21px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 21px;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 45px;
}

.filter label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.filter-option label {
    position: relative;
  
    display: block;
  
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
  
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
  
    width: 25px;
    height: 25px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-range {
    margin-top: 25px;
    width: 330px;
}

.filter-range-title {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}

.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}
  
  .range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.hotel {
    background-color: #ffffff;

    width: 1056px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 5px;
}

.hotel-image {
    width: 165px;
}

.hotel-description {
    width: 260px;
}

.hotel-description .hotel-name {
    font-size: 21px;
    line-height: 26px;
}

.hotel-description .hotel-name:hover,
.hotel-description .hotel-name:focus {
    color: #81b3d2;
}

.hotel-description .hotel-name:active {
    color: #b2b2b2;
}

.hotel-description span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.hotel-description .more-info {
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 14px;
    line-height: 21px;
}

.hotel-description .more-info:hover,
.hotel-description .more-info:focus {
    background-color: #669ec0;
}

.hotel-description .more-info:active {
    color: #7aadcb;
    background-color: #5496bd;
}

.hotel-description .book-button {
    color: #ffffff;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
}

.hotel-description .book-button:hover,
.hotel-description .book-button:focus {
    background-color: #604e43;
}

.hotel-description .book-button:active {
    color: #7b6d65;
    background-color: #503e33;
}

.rating {
    width: 180px;
    margin-left: auto;
}






