body {
    margin: 0;
    padding: 0;
  
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;/**/
}

a {
    text-decoration: none;
    color: #000000;
}

.site-navigation {
    list-style: none;
    background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #e5e5e5;
}

.site-navigation .active-now {
    color: #766357;
}

.welcome {
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.short-description {
    background-color: #ffffff;
    text-align: center;
}

.short-description h2 {
    font-size: 21px;
    line-height: 26px;
}

.short-description p {
    font-weight: 400;
}

.true-city, /**/
.devil-bridge {
    background-color: #81b3d2;
    color: #ffffff;
    text-align: center;
    line-height: 21px;
    font-size: 21px;
    vertical-align: middle;
}

.true-city span,
.true-city p,
.devil-bridge span,
.devil-bridge p {
    font-weight: 400;
    font-size: 14px;
}

.first-group {
    color:#000000;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.second-group {
    color:#000000;
    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}

.city-advantage h2,
.area-advantage h2 {
    font-size: 21px;
    line-height: 21px;
}

.city-advantage p,
.area-advantage p,
.area-advantage span {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.interest {
    color:#000000;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

.interest h2 {
    font-size: 30px;
    line-height: 36px;
}

.interest p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.interest a /**/ { 
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    background-color: #766357;
}

.interest a:hover,
.interest a:focus { 
    background-color: #604e43;
}

.interest a:active { 
    background-color: #503e33;
    color: #857871;
}

.search {
    background-color: #ffffff;
    text-align: center;
}

.form-item input {
    font: inherit;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
}

.form-item input:hover {
    background-color: #ebebeb;
}

.form-item input:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid #e5e5e5;
}

.button-find {
    font: inherit;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border:none;
    font-size: 21px;
    line-height: 26px;
}

.button-find:hover,
.button-find:focus {
    color: #dfe9f0;
    background-color: #669ec0;
}

.button-find:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.main-footer {
    background-color: #ffffff;
}

.social-list {
    list-style: none;
}

.social-list a {
    color: #ffffff;
    background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
    color: #ffffff;
    background-color: #669ec0;
}

.social-list a:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.creators a {
    color: #000000;
}

.creators a:hover,
.creators a:focus {
    color: #81b3d2;
}

.creators a:active {
    color: #bdbbbc;
}

/*Дальше стили для каталога*/

.hotel {
    background-color: #ffffff;
}

.hotel-description .hotel-name {
    font-size: 21px;
    line-height: 26px;
}

.hotel-description .hotel-name:hover,
.hotel-description .hotel-name:focus {
    color: #81b3d2;
}

.hotel-description .hotel-name:active {
    color: #b2b2b2;
}

.hotel-description span {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.hotel-description .more-info {
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 14px;
    line-height: 21px;
}

.hotel-description .more-info:hover,
.hotel-description .more-info:focus {
    background-color: #669ec0;
}

.hotel-description .more-info:active {
    color: #7aadcb;
    background-color: #5496bd;
}

.hotel-description .book-button {
    color: #ffffff;
    background-color: #766357;
    font-size: 14px;
    line-height: 21px;
}

.hotel-description .book-button:hover,
.hotel-description .book-button:focus {
    background-color: #604e43;
}

.hotel-description .book-button:active {
    color: #7b6d65;
    background-color: #503e33;
}

